#rc-page {
  color: #254139;
  font-family: sans-serif;
  padding-top: 6%;
}

#rc-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#rc-header {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 1%;
}

#rc-description {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #717171;
  width: 60%;
  display: flex;
  justify-content: center;
  margin: 2px;
}

#rc-page-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

#rc-page-top-content-container {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

#rc-page-card {
  padding: 32px;
  border-radius: 12px;
  border: 1px solid #D7D7D7;
  background: #FFF;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15), 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
}

#rc-page-save-button-container {
  display: flex;
  align-items: start;
}

#rc-page-save-button {
  color: #269271;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-transform: capitalize;
  border-radius: 4px;
  border: 1px solid #269271;
  padding: 8px 16px;
  margin-bottom: 40;
}

#rc-page-center-container {
  padding-left: 26px;
}

#rc-page-about-title {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #254139;
}

#rc-page-about-description {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #69726F;
  margin-bottom: 20px;
}

#rc-page-score-container {
  padding: 8px;
  margin-top: 16px;
}

#rc-page-score-subcontainer {
  width: 130px;
}

#rc-page-score-title {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  color: #254139;
  text-align: center;
}

#rc-page-score-value {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #4E4E4E;
}

#rc-page-visit-button-container {
  display: flex;
  justify-content: center;
}

#rc-page-visit-button {
  border-radius: 4px;
  background: #269271;
  color: #fff;
  text-transform: capitalize;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

#rc-page-learn-more-link {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; 
  text-decoration-line: underline;
  color: #254139;
  padding-top: 40px;
}

#rc-page-back-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px 0px 0px 4px;
  border: 1px solid var(--Border-Neutral-Subdued, #BABFC3);
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
  padding: 8px;
  margin-right: 24px;
}

#rc-page-forward-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 4px 4px 0px;
  border: 1px solid var(--Border-Neutral-Subdued, #BABFC3);
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
  padding: 8px;
  margin-left: 24px;
}
