#fc-page {
  color: #254139;
  font-family: sans-serif;
  padding-top: 6%;
}

#fc-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#fc-header {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 1%;
}

#fc-description {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #717171;
  width: 60%;
  display: flex;
  justify-content: center;
  margin: 2px;
}